#root {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}

header {
  width: 650px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 650px;
}

thead {
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr {
  height: 60px;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #f0f0f0;
}