input:focus {
  outline: none;
}

button {
  border: none;
  color: #d9d9d9;
  background-color: white;
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}

.container {
  min-width: 350px;
  display: flex;
  align-items: row;
  flex-direction: column;
  gap: 20px;
}

#header {
  margin-bottom: 20px;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

.subTitle {
  font-size: 18px;
  font-weight: bold;
}

.divider {
  border: 1px solid black;
}

#inputWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  & :first-child {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    padding: 0px 10px;
  }
}

#todo-list {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
}